 <tr style='mso-yfti-irow:1;height:1.0pt'>
  <td width=114 style='width:85.8pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid windowtext 1.0pt;border-right:none;mso-border-left-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;background:
  ${BG_0};padding:0in 0in 0in 0in;height:1.0pt'>
  <p class=MsoNormal><span style='font-size:8.0pt;mso-bidi-font-size:10.0pt'>${COMPANY_0}</span><span
  style='font-size:8.0pt;mso-bidi-font-size:10.0pt;mso-fareast-font-family:
  "Arial Unicode MS"'><o:p></o:p></span></p>
  </td>
  <td width=89 style='width:66.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
  background:${BG_0};padding:0in 0in 0in 0in;height:1.0pt'>
  <p class=MsoNormal align=right style='text-align:right'><span
  style='font-size:8.0pt;mso-bidi-font-size:10.0pt'>${AMOUNT_0}</span><span
  style='font-size:8.0pt;mso-bidi-font-size:10.0pt;mso-fareast-font-family:
  "Arial Unicode MS"'><o:p></o:p></span></p>
  </td>
  <td width=114 style='width:85.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid windowtext .5pt;background:${BG_1};padding:0in 0in 0in 0in;
  height:1.0pt'>
  <p class=MsoNormal><span style='font-size:8.0pt;mso-bidi-font-size:10.0pt'>${COMPANY_1}</span><span
  style='font-size:8.0pt;mso-bidi-font-size:10.0pt;mso-fareast-font-family:
  "Arial Unicode MS"'><o:p></o:p></span></p>
  </td>
  <td width=89 style='width:66.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
  background:${BG_1};padding:0in 0in 0in 0in;height:1.0pt'>
  <p class=MsoNormal align=right style='text-align:right'><span
  style='font-size:8.0pt;mso-bidi-font-size:10.0pt'>${AMOUNT_1}</span><span
  style='font-size:8.0pt;mso-bidi-font-size:10.0pt;mso-fareast-font-family:
  "Arial Unicode MS"'><o:p></o:p></span></p>
  </td>
  <td width=114 style='width:85.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid windowtext .5pt;background:${BG_2};padding:0in 0in 0in 0in;
  height:1.0pt'>
  <p class=MsoNormal><span style='font-size:8.0pt;mso-bidi-font-size:10.0pt'>${COMPANY_2}</span><span
  style='font-size:8.0pt;mso-bidi-font-size:10.0pt;mso-fareast-font-family:
  "Arial Unicode MS"'><o:p></o:p></span></p>
  </td>
  <td width=89 style='width:66.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
  background:${BG_2};padding:0in 0in 0in 0in;height:1.0pt'>
  <p class=MsoNormal align=right style='text-align:right'><span
  style='font-size:8.0pt;mso-bidi-font-size:10.0pt'>${AMOUNT_2}</span><span
  style='font-size:8.0pt;mso-bidi-font-size:10.0pt;mso-fareast-font-family:
  "Arial Unicode MS"'><o:p></o:p></span></p>
  </td>
  <td width=114 style='width:85.8pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid windowtext .5pt;background:${BG_3};padding:0in 0in 0in 0in;
  height:1.0pt'>
  <p class=MsoNormal><span style='font-size:8.0pt;mso-bidi-font-size:10.0pt'>${COMPANY_3}</span><span
  style='font-size:8.0pt;mso-bidi-font-size:10.0pt;mso-fareast-font-family:
  "Arial Unicode MS"'><o:p></o:p></span></p>
  </td>
  <td width=89 style='width:66.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
  background:${BG_3};padding:0in 0in 0in 0in;height:1.0pt'>
  <p class=MsoNormal align=right style='text-align:right'><span
  style='font-size:8.0pt;mso-bidi-font-size:10.0pt'>${AMOUNT_3}</span><span
  style='font-size:8.0pt;mso-bidi-font-size:10.0pt;mso-fareast-font-family:
  "Arial Unicode MS"'><o:p></o:p></span></p>
  </td>
 </tr>